In [23]:
import helper_tools.parser as parser
import importlib

importlib.reload(parser)

relation_df, entity_df, docs = parser.rebel_parser('./datasets/REBEL/en_train.jsonl', 10)

100%|██████████| 10/10 [00:00<00:00, 4223.02it/s]

In [24]:
docs.head()

       docid                                               text
0   30111982  The Philippine one hundred-peso note (Filipino...
9   30111996  The Philippine five hundred-peso note (Filipin...
20  30111927  Éamonn Ó Catháin is an Irish chef, sometime au...
59  30112002  The Philippine one thousand-peso note (Filipin...
70  30112004  Havnar Róðrarfelag is a Faroese rowing club in...

In [15]:
predicate_set_df = relation_df[["predicate", "predicate_uri"]].drop_duplicates()
predicate_set_df

                predicate predicate_uri
0              face value         P3934
1           position held           P39
5                 country           P17
7                has list         P2354
10      country of origin          P495
11                  genre          P136
12  location of formation          P740
13              inception          P571
15    work period (start)         P2031
16             start time          P580
17          point in time          P585
20              developer          P178
21         distributed by          P750
22            subclass of          P279
23                part of          P361
24              continent           P30

In [16]:
from langgraph.types import Command
from typing import Literal
from langchain_ollama.chat_models import ChatOllama
from langgraph.graph import StateGraph, MessagesState, START, END
from langchain_ollama import OllamaEmbeddings

model = ChatOllama(model="phi4")
embeddings = OllamaEmbeddings(model="nomic-embed-text")

In [17]:
import faiss
from langchain_community.docstore.in_memory import InMemoryDocstore
from langchain_community.vectorstores import FAISS
from langchain_core.documents import Document

index = faiss.IndexFlatL2(len(embeddings.embed_query("hello world")))

vector_store = FAISS(
    embedding_function=embeddings,
    index=index,
    docstore=InMemoryDocstore(),
    index_to_docstore_id={},
)

documents = []
entity_set = entity_df[['entity', 'entity_uri']].drop_duplicates()
for index, row in entity_set.iterrows():
    documents.append(Document(
        page_content=row["entity"],
        metadata={"uri": row["entity_uri"]},
    ))
    
vector_store.add_documents(documents=documents)

['1beb4394-bc8d-4f3c-b77f-5cbefad0f89f',
 'cbdbe266-1c51-41b0-84cb-cda6862cda09',
 '0e6dcaf8-fbcc-4582-a53f-4af2bbc4de5c',
 '8c2c0c7c-c5db-4ff8-8b61-dd08360a58f1',
 '608153c5-90bd-48f5-a2ac-59ef2f7ba447',
 '8712168f-e5f0-4a6d-b919-066688ae23b2',
 '1a5e1ee3-70c8-4194-bdd8-57766a91db73',
 '8f217c94-3d5b-4873-95df-0c245b1786f1',
 'a39b3bcd-3fde-4416-8cfd-34829d98113a',
 '048a05b3-aeb2-40cc-a960-17d37c0c3444',
 'e1a78708-490c-4e41-9b24-d3c732d65f99',
 'a3be45ae-a0cd-4764-a525-aa28567c44ce',
 '48e01912-8201-4cb1-9459-10ab00d402af',
 'aa6500b3-74b7-45c0-ac5d-79005782e061',
 '41f09390-0697-4571-a011-5110e89a2112',
 '5fd3a056-2274-4876-8fb4-faf32e324a64',
 '0a0c81ca-99a7-4269-9382-133642820012',
 '94faf3ae-1860-4f53-992f-688db8714c60',
 '0b30c788-b1a4-4343-b8b9-a96db0c98f5f',
 'e47af5d6-b146-4f4a-9273-a2fd6ecb879c',
 '814ed930-4c04-4433-9641-97dcd4c2e7f2',
 'fb02a0ac-63cf-4f11-a8f8-5b738c6ab176',
 '8829b1c8-6818-4f7c-a918-377a85ac7e0b',
 '722d9256-8ab9-4c33-a033-7dabba2ab6e9',
 '4df57ccd-d97f-491d-a222-ebcc3bc26d5e',
 '4b4f09a3-d500-483e-ac05-b3787b212661',
 '4eb5026f-eaad-4475-8bfa-eab117314719',
 '9fd7cc75-b082-42dc-8c0c-8d038d63f292',
 '3d6e87c9-f8ca-481e-b1af-eb4f371cfe7a',
 '97418611-646f-4bd9-94c1-32998e5c8a15',
 '62c179d4-4314-4e28-9e7e-253cedc64d80',
 '45ad4061-eb48-4cf4-8e78-692fd1198b48',
 '13e0e5ed-c51f-4972-9cc4-b401fb87d6a5',
 'd45bfc5a-b3ee-48ea-bfd0-34dafd784110',
 '0050e9e5-fd53-4137-b94c-572c1e245b28',
 '86863e15-bb43-4005-a541-42f46f13bedf',
 'f6b43809-8443-4cca-872f-6af844b8853a',
 '0db719c6-8dbd-41d3-b835-0dd074691df3',
 '44bcf014-e15d-42be-8580-6b55501cc257',
 'e52f3367-2da9-4b18-85f7-d01a6a8070fe',
 '6fcbd6d9-1bdb-4132-82d0-4d482233191c',
 'a3bd543c-b8e7-425f-b2b6-770d079a959e',
 '0a99b0a6-d726-4870-98ac-20c38ae10614',
 '9665422c-4bb6-470e-a085-2f71180ec632',
 '6bd40178-48e6-4555-bd9b-d83805965dfb',
 'c3ab8ccb-d51c-4379-b709-48004ce1de06',
 '1f900da1-7150-407b-8d49-5af1fda7fbbc',
 'a21eeb4d-7601-4746-a8e6-a729b62dc33f',
 'ea2cbfb5-7230-4a25-a543-aa22410a53c1',
 '7cc4e423-3d31-40e8-b76d-ee031e563cf0',
 'bcd58736-9576-49bd-a009-7d02d1c87289',
 '260d805a-9684-4598-95d0-2a326df16795',
 '0ac2a680-e6d2-42dc-8787-ce827e8a9504',
 'c64fd1c4-f7ff-41a6-91ae-1d8a6c54f916',
 'a5754852-82d3-4402-9373-200fb01c4a76',
 '89d9db81-780f-4b5b-95ba-b8fcfdd29a3b',
 '2cb00ecf-4a00-492f-a52b-3857adcd7803',
 'c117fdd8-a5eb-4d3f-8551-10894d44be6f',
 '121f12b2-7b2c-43fd-9eef-6741a9e638ca',
 'e5d1d779-a8ff-4b3d-a9db-7b36f7b42067',
 '0d629a00-3c20-415e-bcba-8b78ac3e43c3',
 '5e0a954a-2f1a-4b4a-9f9a-4542b4a10fce',
 '3d4c6dd9-0a8c-4f97-98ec-8a783f749c54',
 '581d0155-40ff-4ba2-8ddf-6cab096a6bcb',
 'ddb2bd4f-79f0-4c41-af30-3dc06374257b',
 'f1db4afb-04c5-4d9c-a8ba-c69731689be7',
 '2d2d96d4-f803-4777-b690-42bda30c3f25',
 '46d0d1b6-3af2-4b96-8a90-66b00db6a916',
 '93f61313-26cb-4359-81ca-5c92a2cf9aa0',
 '9ec9ab88-5ca2-4da8-aba6-3b4b348424f6',
 '25341f2a-9bee-45b6-952d-471e9699ddca',
 '993dca98-437b-46fe-a7f8-cc6ebfe8cf13',
 '6f5552aa-0494-4700-82f8-8f34c852f77e',
 'e01422a2-4b57-4b00-a276-dba88fe8d3ab',
 '80a63f53-2351-4a30-af31-a7a02e01dfe5',
 '65c1f180-0618-4a37-8a39-82b0e1e59da6',
 '24de8ec2-144f-4ec2-9986-e639446c2496',
 '78c62625-6e2b-4a90-bbf7-4577e6195c96',
 'fb5a7e7b-9d2b-47dd-86f2-84c86f3255e2',
 '01cc01b6-288f-40bc-959c-bd43b60cc528',
 '002f7c3a-551f-4c4e-9a59-1c3526cb1cfb',
 'd910c048-a763-42e2-a786-c0c33a8f7906',
 'abb6a796-9f15-4a55-aee9-9d71a859c84c',
 'ae1ff56b-7c69-45b2-8ebf-94db932e6b36',
 '142cabd2-aa7b-4b53-93ba-0a12c771b6b6',
 'eedfa5e2-57a7-4d3a-9f8c-9d03db43042b',
 'a6a3b47b-9227-4f17-8cb0-e1edeb639cc2',
 '4105794c-d087-4e38-bc99-82a0740bbe55',
 'e08456f6-e94c-4123-b463-64a856b7fbe2',
 '4fb5b5df-f085-4f37-981d-6091cb65701e',
 '7cb35d1e-36a8-4234-9fc5-a4876abe93d7',
 '72b1d07b-ec01-418b-80b1-0716fa1f34c2',
 '8c30b2f4-a6a2-49f3-a760-2fe8e641ca0a',
 'efb80ba7-251d-4840-82b7-f05691ef9af6',
 '9685cc48-6a71-4e5d-96fd-cdf8837abfab',
 'ce1343fc-0146-458b-9aa0-a5632a6b7f03',
 'c60ba29e-cdef-416e-9f7b-194cd7c50d4f',
 'f1c4a405-1d08-43ab-b0a4-d5095f13e0b8',
 '5f01ef75-8b08-454b-ab29-36dfb695366d',
 'd5b64603-3e9f-4e8d-9b85-d95c8223fd22',
 'e86308ce-6268-4e8f-9c1e-79dab446778e',
 '88aea292-8a11-4a46-a955-1cada8fc6fe3',
 '2e6694db-4029-450b-ab79-90e0a59bef44',
 '4cb5d0eb-6c90-407e-a035-e6676e08d38d',
 'a5c19a32-90c0-4e90-a737-c18cb0de1321',
 'b37348ef-13d6-47cf-aa5d-3c6aa9765355',
 '0dfb2b6f-d34e-4f59-8042-699e72d3812e',
 'e43d1df0-5890-4f07-99be-ce46f7c17826',
 '9f41935d-e6c4-4693-8b01-92410b4cc690',
 '6088c370-9ca6-4ba8-bf02-8637dcc0af44',
 '4a2e49d0-772e-452c-afd1-dd5aa0ac5d5f',
 'a73ec254-46ad-4a79-9b21-06a4a3811852',
 '02b82082-31b3-4756-977b-e9101d83abd6',
 '2b4d91b2-096b-4a48-9c3f-76da70386503',
 'f77a9e5e-84fd-457a-a9e7-d091dc828418',
 '5eede8ad-fa24-4a54-a469-9d1e16f4875b',
 '7b76f638-01d0-429c-bdf6-73065459132b',
 '51057208-fe2f-4639-8af4-fd69155a2a82',
 '94e8dbac-8a6c-4e8e-a030-e382225f438a',
 '61e60367-1e28-409e-91e7-921b0421d8c9',
 'c7823337-1d6f-471e-813e-ba503ed18504',
 'a1489e41-1457-4e94-90b9-f889d629f5d3',
 '9f1b27c6-d163-4655-be73-f7f47ac71b90',
 'a7a9a758-69d1-4f0d-9877-6f21d0ab450c',
 '4cc53cac-6da5-45b6-a251-106dd8856494',
 'b22b5d15-a955-439f-afee-ca4fd7d5eb54',
 '06c1bab0-adf3-468c-95eb-d1e4087880d9',
 '23dbe915-821f-42d9-92da-26e0a1971322',
 '02c47082-8f85-43db-83d1-4e32f3b0ecbb',
 'ed8eae36-9427-4f3a-919a-fed058141f57',
 '7c3a3c89-7fb2-4e38-bc2d-061ef86d6a4d',
 '7ae91140-9f9e-4f2f-97e9-4238c7df450e']

In [18]:
from langchain_core.prompts import PromptTemplate
import re

prompt_template = PromptTemplate.from_template("""
You are an agent to extract entities out of a given text. The entities will be linked to a knowledge graph later. You should return a list of any explicit and implicit entities found in the text. Please enclose the list with <list> and </list> tags and the entities with <entity> and </entity> tags.

Text: {text}
""")

doc_id = docs.iloc[6]["docid"]
text = docs.iloc[6]["text"]
doc_relation_df = relation_df[relation_df["docid"] == doc_id]
prompt = prompt_template.invoke({"text": text})
print(prompt)
output = model.invoke(prompt)
print(output.content)
entity_list = re.findall(r'<entity>(.*?)</entity>', output.content)
entity_list = [vector_store.similarity_search(x, k=1)[0] for x in entity_list]
entity_set_df = pd.DataFrame({"entity": [x.page_content for x in entity_list], "entity_uri": [x.metadata["uri"] for x in entity_list]})
entity_set_df

text='\nYou are an agent to extract entities out of a given text. The entities will be linked to a knowledge graph later. You should return a list of any explicit and implicit entities found in the text. Please enclose the list with <list> and </list> tags and the entities with <entity> and </entity> tags.\n\nText: The Ministry of Macedonia and Thrace () is a former ministry of Greece. Responsible for the regions of Macedonia and Thrace, since 2015 it has been demoted to the level of a sub-ministry within the Ministry of the Interior. The incumbent Deputy Minister for Macedonia and Thrace is of New Democracy.\n\nThe ministry had been known as the Ministry of Northern Greece until it was renamed on 19 August 1988. It was demoted to a general secretariat in 2009, but was re-established as a ministry in 2012, and again demoted to a sub-ministry within the Ministry of the Interior on 27 January 2015. It is housed in Government House in Thessaloniki.\n'
<list>
  <entity>The Ministry of Macedonia and Thrace</entity>
  <entity>Greece</entity>
  <entity>regions of Macedonia and Thrace</entity>
  <entity>Ministry of the Interior</entity>
  <entity>New Democracy</entity>
  <entity>Deputy Minister for Macedonia and Thrace</entity>
  <entity>Ministry of Northern Greece</entity>
  <entity>19 August 1988</entity>
  <entity>general secretariat</entity>
  <entity>2009</entity>
  <entity>2012</entity>
  <entity>27 January 2015</entity>
  <entity>Government House</entity>
  <entity>Thessaloniki</entity>
</list>

,entity,entity_uri
0,Ministry of Macedonia and Thrace,Q3555742
1,Greece,Q41
2,Macedonia,Q81734
3,Ministry of the Interior,Q3555550
4,New Democracy,Q223153
5,Deputy Minister for Macedonia and Thrace,Q12885643
6,Ministry of Macedonia and Thrace,Q3555742
7,19 August 1988,1988-08-19T00:00:00Z^^http://www.w3.org/2001/X...
8,ministry,Q192350
9,2009,+2009^^http://www.w3.org/2001/XMLSchema#decimal
10,2012,2012-01-01T00:00:00Z^^http://www.w3.org/2001/X...
11,27 January 2015,2015-01-27T00:00:00Z^^http://www.w3.org/2001/X...
12,Government House,Q1781132
13,Thessaloniki,Q17151

In [19]:
prompt_template = PromptTemplate.from_template(
    """
    
You are a relation extraction agent. Your task is to read a given text (along with a given list of possible entities and relations) and extract the relations found in the text. Each relation should be written in this exact format: <relation>subject;predicate;object</relation>. Please output just the relations using the URIs, nothing else.

Example:

Entity List: 
    entity           entity_uri
0   Olaf Scholz      Q1
1   Germany          Q2

Relation Set: 
    predicate           predicate_uri
0   is chancellor of    P1

Text:
Olaf Scholz is chancellor of Germany.

Expected Output:
<relation>Q1;P1;Q2</relation>

-- Start of input --

Entity Set: 
{entity_set}

Relation Set: 
{relation_set}

Text: 
{text}
    
    """)
prompt = prompt_template.invoke({"text": relation_df["text"].iloc[0], "relation_set": predicate_set_df.to_string(), "entity_set": entity_set_df.to_string()})
print(prompt.text)
output = model.invoke(prompt)
print(output.content)
relation_list = re.findall(r'<relation>(.*?)</relation>', output.content)
relation_list = [relation.split(";") for relation in relation_list]
print(relation_list)

You are a relation extraction agent. Your task is to read a given text (along with a given list of possible entities and relations) and extract the relations found in the text. Each relation should be written in this exact format: <relation>subject;predicate;object</relation>. Please output just the relations using the URIs, nothing else.

Example:

Entity List:
    entity           entity_uri
0   Olaf Scholz      Q1
1   Germany          Q2

Relation Set:
    predicate           predicate_uri
0   is chancellor of    P1

Text:
Olaf Scholz is chancellor of Germany.

Expected Output:
<relation>Q1;P1;Q2</relation>

-- Start of input --

Entity Set:
                                      entity                                                       entity_uri
0           Ministry of Macedonia and Thrace                                                         Q3555742
1                                     Greece                                                              Q41
2                                  Macedonia                                                           Q81734
3                   Ministry of the Interior                                                         Q3555550
4                              New Democracy                                                          Q223153
5   Deputy Minister for Macedonia and Thrace                                                        Q12885643
6           Ministry of Macedonia and Thrace                                                         Q3555742
7                             19 August 1988  1988-08-19T00:00:00Z^^http://www.w3.org/2001/XMLSchema#dateTime
8                                   ministry                                                          Q192350
9                                       2009                  +2009^^http://www.w3.org/2001/XMLSchema#decimal
10                                      2012  2012-01-01T00:00:00Z^^http://www.w3.org/2001/XMLSchema#dateTime
11                           27 January 2015  2015-01-27T00:00:00Z^^http://www.w3.org/2001/XMLSchema#dateTime
12                          Government House                                                         Q1781132
13                              Thessaloniki                                                           Q17151

Relation Set:
                predicate predicate_uri
0              face value         P3934
1           position held           P39
5                 country           P17
7                has list         P2354
10      country of origin          P495
11                  genre          P136
12  location of formation          P740
13              inception          P571
15    work period (start)         P2031
16             start time          P580
17          point in time          P585
20              developer          P178
21         distributed by          P750
22            subclass of          P279
23                part of          P361
24              continent           P30

Text:
The Philippine one hundred-peso note (Filipino: "Sandaang Piso") (₱100) is a denomination of Philippine currency. Philippine president Manuel A. Roxas is currently featured on the front side of the bill, while the Mayon Volcano and the whale shark (locally known as "butanding") are featured on the reverse side.


```xml
<relation>Q3555742;P39;Q12885643</relation>
```

Explanation:
- The Ministry of Macedonia and Thrace (`entity_uri: Q3555742`) has a relation with "position held" (`predicate_uri: P39`).
- Deputy Minister for Macedonia and Thrace is associated with this position, but only entities and predicates are used in the output. Hence, we use `Q12885643`, which corresponds to the Deputy Minister for Macedonia and Thrace, as the object of the relation.

(Note: The text provided does not explicitly mention any entity from the list having a direct relationship with another listed entity or predicate based on the given relations set. However, this output is crafted based on the possible inferred association between ministry roles and their holders.)
[['Q3555742', 'P39', 'Q12885643']]

In [20]:
pred_relation_df = pd.DataFrame(relation_list, columns=["subject_uri", "predicate_uri", "object_uri"])
pred_relation_df

  subject_uri predicate_uri object_uri
0    Q3555742           P39  Q12885643

In [21]:
correct_relation_df = pred_relation_df.merge(doc_relation_df[["subject_uri", "predicate_uri", "object_uri"]], on=["subject_uri", "predicate_uri", "object_uri"], how="inner")
correct_relation_df

Empty DataFrame
Columns: [subject_uri, predicate_uri, object_uri]
Index: []

In [22]:
print(f"Accuracy: {len(correct_relation_df) / len(pred_relation_df)}")
print(f"Precision: {len(correct_relation_df) / len(doc_relation_df)}")

Accuracy: 0.0

ZeroDivisionError: division by zero

In [35]:
relation_df

,docid,text,subject,subject_uri,predicate,predicate_uri,object,object_uri
0,30111982,The Philippine one hundred-peso note (Filipino...,Philippine one hundred-peso note,Q7185360,face value,P3934,100,+100^^http://www.w3.org/2001/XMLSchema#decimal
1,30111982,The Philippine one hundred-peso note (Filipino...,Manuel A. Roxas,Q223419,position held,P39,Philippine president,Q1209571
2,30111996,The Philippine five hundred-peso note (Filipin...,Philippine five hundred-peso note,Q7185306,face value,P3934,500,+500^^http://www.w3.org/2001/XMLSchema#decimal
3,30111996,The Philippine five hundred-peso note (Filipin...,Corazon Aquino,Q1480,position held,P39,President,Q1209571
4,30112002,The Philippine one thousand-peso note (Filipin...,Philippine one thousand-peso note,Q7185363,face value,P3934,1000,+1000^^http://www.w3.org/2001/XMLSchema#decimal
5,30112004,Havnar Róðrarfelag is a Faroese rowing club in...,Tórshavn,Q10704,country,P17,Faroese,Q4628
6,30111989,The Philippine two hundred-peso note (Filipino...,Philippine two hundred-peso note,Q7185399,face value,P3934,200,+200^^http://www.w3.org/2001/XMLSchema#decimal
7,30111989,The Philippine two hundred-peso note (Filipino...,Philippine president,Q1209571,has list,P2354,14th President of the Philippines,Q269860
8,30111989,The Philippine two hundred-peso note (Filipino...,Diosdado Macapagal,Q312539,position held,P39,Philippine president,Q1209571
9,30111989,The Philippine two hundred-peso note (Filipino...,President Gloria Macapagal-Arroyo,Q123665,position held,P39,Philippine president,Q1209571
10,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,country of origin,P495,Swedish,Q34
11,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,genre,P136,rock n roll,Q7749
12,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,location of formation,P740,Kallinge,Q1020929
13,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,inception,P571,2008,2008-01-01T00:00:00Z^^http://www.w3.org/2001/X...
14,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,genre,P136,rockabilly,Q203720
15,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,work period (start),P2031,2008,2008-01-01T00:00:00Z^^http://www.w3.org/2001/X...
16,30112137,The Playtones is a Swedish 1950s rock n roll b...,rock n roll,Q7749,start time,P580,1950,1950-01-01T00:00:00Z^^http://www.w3.org/2001/X...
17,30112137,The Playtones is a Swedish 1950s rock n roll b...,Melodifestivalen,Q2272777,point in time,P585,2011,2011-01-01T00:00:00Z^^http://www.w3.org/2001/X...
18,30112182,Revenge of the Titans is a tower defense/real-...,Revenge of the Titans,Q7317942,genre,P136,tower defense,Q1137896
19,30112182,Revenge of the Titans is a tower defense/real-...,Revenge of the Titans,Q7317942,genre,P136,real-time strategy,Q208189
20,30112182,Revenge of the Titans is a tower defense/real-...,Revenge of the Titans,Q7317942,developer,P178,Puppy Games,Q16978430
21,30112182,Revenge of the Titans is a tower defense/real-...,Revenge of the Titans,Q7317942,distributed by,P750,Steam,Q337535
22,30112182,Revenge of the Titans is a tower defense/real-...,tower defense,Q1137896,subclass of,P279,real-time strategy,Q208189
23,30112209,"Mogilyane Peak (, ) is the rocky peak rising t...",Trinity Peninsula,Q2038835,part of,P361,Graham Land,Q618370
24,30112209,"Mogilyane Peak (, ) is the rocky peak rising t...",Trinity Peninsula,Q2038835,continent,P30,Antarctica,Q51
25,30112209,"Mogilyane Peak (, ) is the rocky peak rising t...",Graham Land,Q618370,continent,P30,Antarctica,Q51