In [1]:
import jsonlines
import pandas as pd
import tqdm


def rebel_parser(path, dataset_size):
    data = []

    i = 0
    
    with jsonlines.open(path) as reader:
        with tqdm.tqdm(total=dataset_size) as pbar:
            for obj in reader:
                data.append(obj)
                i += 1
                pbar.update(1)
                if i == dataset_size:
                    break
    
    relation_df = pd.DataFrame([
        {
            "docid": datapoint["docid"],
            "text": datapoint["text"],
            "subject": triple["subject"]["surfaceform"],
            "subject_uri": triple["subject"]["uri"],
            "predicate": triple["predicate"]["surfaceform"],
            "predicate_uri": triple["predicate"]["uri"],
            "object": triple["object"]["surfaceform"],
            "object_uri": triple["object"]["uri"]
        }
        for datapoint in data
        for triple in datapoint["triples"]
    ])
    
    entity_df = pd.DataFrame([
        {
            "docid": datapoint["docid"],
            "text": datapoint["text"],
            "entity": entity["surfaceform"],
            "entity_uri": entity["uri"]
        }
        for datapoint in data
        for entity in datapoint["entities"]
    ])

    return relation_df, entity_df

relation_df, entity_df = rebel_parser('./datasets/REBEL/en_train.jsonl', 10)

100%|██████████| 10/10 [00:00<00:00, 9929.70it/s]

In [2]:
relation_df.head()

,docid,text,subject,subject_uri,predicate,predicate_uri,object,object_uri
0,30111982,The Philippine one hundred-peso note (Filipino...,Philippine one hundred-peso note,Q7185360,face value,P3934,100,+100^^http://www.w3.org/2001/XMLSchema#decimal
1,30111982,The Philippine one hundred-peso note (Filipino...,Manuel A. Roxas,Q223419,position held,P39,Philippine president,Q1209571
2,30111996,The Philippine five hundred-peso note (Filipin...,Philippine five hundred-peso note,Q7185306,face value,P3934,500,+500^^http://www.w3.org/2001/XMLSchema#decimal
3,30111996,The Philippine five hundred-peso note (Filipin...,Corazon Aquino,Q1480,position held,P39,President,Q1209571
4,30112002,The Philippine one thousand-peso note (Filipin...,Philippine one thousand-peso note,Q7185363,face value,P3934,1000,+1000^^http://www.w3.org/2001/XMLSchema#decimal

In [3]:
entity_df.head()

,docid,text,entity,entity_uri
0,30111982,The Philippine one hundred-peso note (Filipino...,Filipino,Q33298
1,30111982,The Philippine one hundred-peso note (Filipino...,denomination,Q918448
2,30111982,The Philippine one hundred-peso note (Filipino...,Philippine currency,Q17193
3,30111982,The Philippine one hundred-peso note (Filipino...,Philippine president,Q1209571
4,30111982,The Philippine one hundred-peso note (Filipino...,Manuel A. Roxas,Q223419

In [4]:
predicate_set_df = relation_df[["predicate", "predicate_uri"]].drop_duplicates()
predicate_set_df

                predicate predicate_uri
0              face value         P3934
1           position held           P39
5                 country           P17
7                has list         P2354
10      country of origin          P495
11                  genre          P136
12  location of formation          P740
13              inception          P571
15    work period (start)         P2031
16             start time          P580
17          point in time          P585
20              developer          P178
21         distributed by          P750
22            subclass of          P279
23                part of          P361
24              continent           P30

In [23]:
from langgraph.types import Command
from typing import Literal
from langchain_ollama.chat_models import ChatOllama
from langgraph.graph import StateGraph, MessagesState, START, END
from langchain_ollama import OllamaEmbeddings

model = ChatOllama(model="phi4")
embeddings = OllamaEmbeddings(model="nomic-embed-text")

In [24]:
import faiss
from langchain_community.docstore.in_memory import InMemoryDocstore
from langchain_community.vectorstores import FAISS
from langchain_core.documents import Document

index = faiss.IndexFlatL2(len(embeddings.embed_query("hello world")))

vector_store = FAISS(
    embedding_function=embeddings,
    index=index,
    docstore=InMemoryDocstore(),
    index_to_docstore_id={},
)

documents = []
entity_set = entity_df[['entity', 'entity_uri']].drop_duplicates()
for index, row in entity_set.iterrows():
    documents.append(Document(
        page_content=row["entity"],
        metadata={"uri": row["entity_uri"]},
    ))
    
vector_store.add_documents(documents=documents)

['3f2d94a0-02a0-450d-917a-40e21a8d754d',
 '411a6589-adee-4cef-b8f2-8fbe4bb2f716',
 '31558032-0b58-4317-b611-f2231648e74d',
 '5ec09fd4-ab74-4622-b598-247a1f172b5d',
 '445077c6-296c-4583-ad31-e0e8eec80a0d',
 'ca5985dc-b4c5-4511-91c6-53165f8d68d1',
 '8fa85b3a-20d3-4f68-8852-b1d023b5d3e9',
 '89efd20b-46d5-4c25-a325-9b0559c16028',
 'a2db8aa0-6409-46db-b52e-73415c214253',
 'b5524f4e-dee6-45fb-844c-28245f96b028',
 'b2eea585-975d-49db-b26e-c5ca47b5c83d',
 '0a291a0b-4cc3-424f-9d9a-7be50addac52',
 '4a6f0737-ffe5-4f37-aaee-72a97e06513a',
 '620ab2f8-44aa-4c5e-ac6b-5952e151e562',
 'f792cce2-77d7-4b83-b9c5-8da0b6499068',
 'e668c4f0-d51e-4d4c-b516-d2c7a94e3724',
 '92912eb0-c6f2-4aae-9322-49c74bf40648',
 '1a176b46-474c-4acb-92b6-d17df4f1f004',
 '15d7702a-5689-4b97-aec9-dde6397644c3',
 '67372493-8ee8-44ab-bc6f-ee09e266018e',
 '96681a3e-08a7-405c-b89c-67cf634910d2',
 '268db40e-8e41-4715-8cbd-d53b768dc617',
 'ba53b992-bb23-4458-a63f-3b175cc94668',
 'b98cd471-01d2-4666-8674-855e0189ea54',
 'e6e322c4-4ade-4f4b-9747-b2c6015b07c6',
 '717ea43a-661e-4f1d-b13f-910d4afb9a10',
 '113affac-c80d-48e0-939e-2eb610afcc2e',
 '7c3ae9fb-ebbc-423f-bdc5-ab5d3aaf7771',
 'cc3e7704-67ff-456d-99c4-4ca83f12c507',
 '9ed03df6-6507-4728-be39-6b1c51f98149',
 'afed707f-f6d6-4947-80e2-6621edb465c7',
 '06ecbb1d-257a-43fb-a87f-2d6087cca435',
 'e0af8044-0e06-4c38-80d4-be0f6f20dbe7',
 'b2b69166-1f75-4542-8294-3afc3111eb2e',
 'ae918498-6227-483c-9e87-18593462e171',
 '546db2d9-b1fe-4246-9d79-8c57b0eb6772',
 '01721aaf-c658-4351-8cc6-166cf7bfa3e1',
 '6f23960f-85ff-4635-b4db-dcb936f6e0df',
 'f88c03e9-962e-45e7-9419-03e748efed5c',
 'aef43d38-8805-42df-a76b-b269a783c5a1',
 'c207a4ea-7e74-4f81-9994-785752672ca2',
 'a2d06894-cedd-4b3a-be34-51091f7be724',
 'b0feaffa-6a56-47d9-af76-7e484dfa0e55',
 '494de4fe-72db-4f35-a520-77e499332df0',
 '9d2392d7-cc7a-4cd7-b404-d4c4a78dbb58',
 '363b0dba-93c9-4639-b227-f2a0cf5eab5d',
 '9a81de5f-6f30-4a55-ac2f-9dd627632c03',
 'de606201-6712-445d-b876-b9233b470ad9',
 'cfaf3ae9-776a-4e5b-acd8-a7a4dbf15f4b',
 'b0402e81-570f-471b-81f4-cd4f2eab008b',
 'd92d0f51-ef97-43ac-a743-b7362cb4102b',
 'a46ba015-557f-4559-ad73-ab0e6065c318',
 '02cd13a3-1e18-4b02-b937-ee71b9ad5d23',
 'd100c995-e578-4d1a-9eb3-778a70bda8ea',
 'd65c5733-6a23-4dd7-96b7-0224f8cc50ef',
 '08b7f51f-7f6c-41f0-ad18-77984d7fa4ea',
 'a06a22c8-8c58-463c-a7bc-96a298108d54',
 '58d3564e-6c6a-4c35-bf40-6b5256212b1b',
 'c5bd2853-ffbe-461a-b92a-f4cb3144c4a0',
 'c78f49e5-1b03-4748-b296-12f99e5b3d03',
 '8d5880f9-5cd8-455d-aad7-b971f5770c1d',
 '94c6855c-6472-4c81-9519-093459162a41',
 '74902f7d-71f5-4bed-a032-7305c4b8d434',
 'd096ddca-1571-43dd-be5c-ee53d35d7fff',
 '4620f17d-5944-4d9e-9dd1-2d424cd2f24a',
 '6ee2fa87-fdf7-4584-9106-3ae53d079457',
 'e79dd390-d4eb-4172-bf1c-6fd0ddb1b629',
 '11e7f963-cc47-475a-b847-c4fac6d68cdc',
 '99693b6c-520c-4526-a02f-d4996e5765b5',
 '65cff7d8-4d0e-4f9e-a8e1-33bf9159f56d',
 'f2f385d3-ae45-45ca-b6ca-9877b3411c45',
 'dc90a915-2431-49d1-b3ef-48ad5961ac75',
 '5f3c8b1a-0057-40ef-b167-5dd5eb21fe71',
 '7d5374ab-49bd-49e3-9717-24fddc51f31d',
 '2464aa2a-a83c-4a39-8caa-0a38f7beeb1f',
 '89d6788c-13bf-457f-8eff-471717247ff6',
 'f2e5d2f1-f2f0-44ab-aa9c-624d8f73ab42',
 'c5a24728-a9f2-49e1-b5ca-8486c9606c0f',
 '59fe76d8-4993-4b8b-bcab-6415d38b1e2a',
 '1e0d64cd-4dae-4d8b-b504-c286d06298bb',
 'ba1b6134-7df9-49fc-95a4-da3f9ab63ca2',
 '80bccd09-bb51-4f9d-808c-07526df42880',
 '2b190a56-912b-4133-ae2c-4daeff4df27f',
 '7c85671f-b932-49af-af81-57901014f31e',
 'bf2da3c2-c64c-4e0c-b8e8-2c835baac4fb',
 'f0dfa9cc-48cd-4280-ae43-e2780f7efd30',
 '9005d9a6-3de0-4e71-ae98-9c1de8912eaa',
 '70a2f248-5173-4465-876c-530c9d397a5f',
 '06ec8860-bd08-4de3-aa2f-34094d7db338',
 'ce94ac88-6990-4fbb-a094-7659d33688a4',
 '72c761e9-4a7b-4375-8630-4a0d6f03e169',
 '5a87d227-7ad7-4c0d-a0be-2afd9464ee0a',
 '8f1b7360-aec4-4d40-b2d2-93a8f4a252c7',
 '81721b17-1e5e-472e-bdd9-052e9729b040',
 '722e0184-a576-408e-867d-156c216e997f',
 'dccef5a5-fe93-4acc-af93-b0b353f1442b',
 '815a0209-cb61-44b4-ac32-69c33c0d4a46',
 '34da0c6e-d77c-4432-9e41-fd8748120e63',
 'f85ac359-9158-4766-8d27-e2f9954e4932',
 '302cc3d2-57e3-42f5-88ee-0f9320b88c45',
 '134a3967-6dc5-48c3-a20b-34b11fa71cc2',
 '5feb4e9a-914c-4b40-adf5-9c7083fb82ad',
 'b93e47e9-6f38-4bfc-8434-2789eab512f0',
 'b72009fc-ffd8-48a2-a7c3-28c935f3adc5',
 '8f3f012f-b5db-47bb-af8e-45535381fc80',
 'e82d0118-b628-44b3-93f5-4fac447511d3',
 '4ac5bf66-18d9-4206-ac90-bd474ef8b960',
 '08f96793-82e5-4843-82b8-55a48cf4da58',
 '0fffc1f1-bff2-4a79-89c1-c926ce1e0fb4',
 '616a6880-62fb-466d-b1cd-f2d4a60af88f',
 '1064fb77-7450-4667-a003-82b74c599874',
 '0fdb9b7f-9ac0-4e69-8008-596976b0b4bf',
 'f1b19329-bd9f-45b3-be47-88bc4425a6bc',
 '53b58afb-06f7-4d9a-8b63-e334eacb0098',
 'cdf2d9d6-ba2f-4497-bbd7-88996fb5f353',
 'ce0a4e5d-46f5-4044-a532-fffa9db0e50b',
 '07828a05-d323-4081-94b3-fd2fa62026e9',
 '9d916400-3ab0-4d28-b4d1-9c033edb74bf',
 '4ef1424c-0e74-4ed1-a393-ecf0159d3637',
 '061b4b9c-dd44-4e64-852c-bbb1d9df5212',
 '2547ca0f-6c80-4aa6-bfb9-caf316b8949a',
 '4d473722-3465-45bf-9e8f-a7282761d39b',
 '25689998-d3f3-4023-8f66-3b8060c257e1',
 'df8d6038-bbee-457e-8d31-f751ff641ab2',
 '4918fc0b-4e0f-4dc5-ba9b-8a4bca59299d',
 '148da612-969b-4626-ad3e-3c5bb5e85b2b',
 '7d84b64d-23f2-458f-99ca-295819ca67e6',
 '6223cbba-d859-45dd-92a7-b0861d3591ea',
 'b2508d02-f94e-4717-8a57-b56b0516c250',
 '2db1d509-91aa-412e-a21c-c9919d3781cd',
 '5328ce89-042c-4a7b-9c31-a8bb3f2d2796',
 '03613a76-7aa6-4e00-bf6d-71d5d7f6e61c']

In [25]:
from langchain_core.prompts import PromptTemplate
import re

prompt_template = PromptTemplate.from_template("""
You are an agent to extract entities out of a given text. The entities will be linked to a knowledge graph later. You should return a list of any explicit and implicit entities found in the text. Please enclose the list with <list> and </list> tags and the entities with <entity> and </entity> tags.

Text: {text}
""")

doc_id = relation_df["docid"].iloc[0]
doc_relation_df = relation_df[relation_df["docid"] == doc_id]
prompt = prompt_template.invoke({"text": doc_relation_df["text"].iloc[0]})
print(prompt)
output = model.invoke(prompt)
print(output.content)
entity_list = re.findall(r'<entity>(.*?)</entity>', output.content)
entity_list = [vector_store.similarity_search(x, k=1)[0] for x in entity_list]
entity_set_df = pd.DataFrame({"entity": [x.page_content for x in entity_list], "entity_uri": [x.metadata["uri"] for x in entity_list]})
entity_set_df

text='\nYou are an agent to extract entities out of a given text. The entities will be linked to a knowledge graph later. You should return a list of any explicit and implicit entities found in the text. Please enclose the list with <list> and </list> tags and the entities with <entity> and </entity> tags.\n\nText: The Philippine one hundred-peso note (Filipino: "Sandaang Piso") (₱100) is a denomination of Philippine currency. Philippine president Manuel A. Roxas is currently featured on the front side of the bill, while the Mayon Volcano and the whale shark (locally known as "butanding") are featured on the reverse side.\n'
<list>
  <entity>The Philippine one hundred-peso note</entity>
  <entity>Sandaang Piso</entity>
  <entity>₱100</entity>
  <entity>Philippine currency</entity>
  <entity>Philippines</entity>
  <entity>Manuel A. Roxas</entity>
  <entity>president</entity>
  <entity>front side of the bill</entity>
  <entity>Mayon Volcano</entity>
  <entity>reverse side of the bill</entity>
  <entity>whale shark</entity>
  <entity>butanding</entity>
</list>

                              entity entity_uri
0   Philippine one hundred-peso note   Q7185360
1                 Philippine tarsier    Q536862
2   Philippine one hundred-peso note   Q7185360
3                Philippine currency     Q17193
4                           Filipino     Q33298
5                    Manuel A. Roxas    Q223419
6                          President   Q1209571
7   Philippine one hundred-peso note   Q7185360
8                      Mayon Volcano      Q1484
9   Philippine one hundred-peso note   Q7185360
10                       whale shark     Q80378
11                           English      Q1860

In [26]:
prompt_template = PromptTemplate.from_template(
    """
    
You are a relation extraction agent. Your task is to read a given text (along with a given list of possible entities and relations) and extract the relations found in the text. Each relation should be written in this exact format: <relation>subject;predicate;object</relation>. Please output just the relations using the URIs, nothing else.

Example:

Entity List: 
    entity           entity_uri
0   Olaf Scholz      Q1
1   Germany          Q2

Relation Set: 
    predicate           predicate_uri
0   is chancellor of    P1

Text:
Olaf Scholz is chancellor of Germany.

Expected Output:
<relation>Q1;P1;Q2</relation>

-- Start of input --

Entity Set: 
{entity_set}

Relation Set: 
{relation_set}

Text: 
{text}
    
    """)
prompt = prompt_template.invoke({"text": relation_df["text"].iloc[0], "relation_set": predicate_set_df.to_string(), "entity_set": entity_set_df.to_string()})
print(prompt.text)
output = model.invoke(prompt)
print(output.content)
relation_list = re.findall(r'<relation>(.*?)</relation>', output.content)
relation_list = [relation.split(";") for relation in relation_list]
print(relation_list)

You are a relation extraction agent. Your task is to read a given text (along with a given list of possible entities and relations) and extract the relations found in the text. Each relation should be written in this exact format: <relation>subject;predicate;object</relation>. Please output just the relations using the URIs, nothing else.

Example:

Entity List:
    entity           entity_uri
0   Olaf Scholz      Q1
1   Germany          Q2

Relation Set:
    predicate           predicate_uri
0   is chancellor of    P1

Text:
Olaf Scholz is chancellor of Germany.

Expected Output:
<relation>Q1;P1;Q2</relation>

-- Start of input --

Entity Set:
                              entity entity_uri
0   Philippine one hundred-peso note   Q7185360
1                 Philippine tarsier    Q536862
2   Philippine one hundred-peso note   Q7185360
3                Philippine currency     Q17193
4                           Filipino     Q33298
5                    Manuel A. Roxas    Q223419
6                          President   Q1209571
7   Philippine one hundred-peso note   Q7185360
8                      Mayon Volcano      Q1484
9   Philippine one hundred-peso note   Q7185360
10                       whale shark     Q80378
11                           English      Q1860

Relation Set:
                predicate predicate_uri
0              face value         P3934
1           position held           P39
5                 country           P17
7                has list         P2354
10      country of origin          P495
11                  genre          P136
12  location of formation          P740
13              inception          P571
15    work period (start)         P2031
16             start time          P580
17          point in time          P585
20              developer          P178
21         distributed by          P750
22            subclass of          P279
23                part of          P361
24              continent           P30

Text:
The Philippine one hundred-peso note (Filipino: "Sandaang Piso") (₱100) is a denomination of Philippine currency. Philippine president Manuel A. Roxas is currently featured on the front side of the bill, while the Mayon Volcano and the whale shark (locally known as "butanding") are featured on the reverse side.


```xml
<relation>Q7185360;P3934;Philippine peso</relation>
<relation>Q7185360;P17;Q2</relation>
<relation>Q7185360;P2354;Q3</relation>
<relation>Q223419;P39;Q6</relation>
<relation>Q1484;P361;Philippines</relation>
<relation>Q80378;P495;Philippines</relation>
```

Explanation:
1. The Philippine one hundred-peso note (Q7185360) has a face value of 100 pesos, so the relation is `<relation>Q7185360;P3934;Philippine peso</relation>`.

2. The note is a denomination of Philippine currency, and Philippine currency (Q3) is part of country Q2 (Philippines), thus `<relation>Q7185360;P17;Q2</relation>`.

3. The note is part of the list of denominations in Philippine currency (Q3), resulting in `<relation>Q7185360;P2354;Q3</relation>`.

4. Manuel A. Roxas (Q223419) holds the position of President (Q6), so `<relation>Q223419;P39;Q6</relation>`.

5. The Mayon Volcano (Q1484) is part of the Philippines, hence `<relation>Q1484;P361;Philippines</relation>`.

6. The whale shark (Q80378) originates from the Philippines, so `<relation>Q80378;P495;Q2</relation>`.
[['Q7185360', 'P3934', 'Philippine peso'], ['Q7185360', 'P17', 'Q2'], ['Q7185360', 'P2354', 'Q3'], ['Q223419', 'P39', 'Q6'], ['Q1484', 'P361', 'Philippines'], ['Q80378', 'P495', 'Philippines'], ['Q7185360', 'P3934', 'Philippine peso'], ['Q7185360', 'P17', 'Q2'], ['Q7185360', 'P2354', 'Q3'], ['Q223419', 'P39', 'Q6'], ['Q1484', 'P361', 'Philippines'], ['Q80378', 'P495', 'Q2']]

In [27]:
pred_relation_df = pd.DataFrame(relation_list, columns=["subject_uri", "predicate_uri", "object_uri"])
pred_relation_df

   subject_uri predicate_uri       object_uri
0     Q7185360         P3934  Philippine peso
1     Q7185360           P17               Q2
2     Q7185360         P2354               Q3
3      Q223419           P39               Q6
4        Q1484          P361      Philippines
5       Q80378          P495      Philippines
6     Q7185360         P3934  Philippine peso
7     Q7185360           P17               Q2
8     Q7185360         P2354               Q3
9      Q223419           P39               Q6
10       Q1484          P361      Philippines
11      Q80378          P495               Q2

In [32]:
correct_relation_df = pred_relation_df.merge(doc_relation_df[["subject_uri", "predicate_uri", "object_uri"]], on=["subject_uri", "predicate_uri", "object_uri"], how="inner")
correct_relation_df

Empty DataFrame
Columns: [subject_uri, predicate_uri, object_uri]
Index: []

In [33]:
print(f"Accuracy: {len(correct_relation_df) / len(pred_relation_df)}")
print(f"Precision: {len(correct_relation_df) / len(doc_relation_df)}")

Accuracy: 0.0
Precision: 0.0

In [35]:
relation_df

,docid,text,subject,subject_uri,predicate,predicate_uri,object,object_uri
0,30111982,The Philippine one hundred-peso note (Filipino...,Philippine one hundred-peso note,Q7185360,face value,P3934,100,+100^^http://www.w3.org/2001/XMLSchema#decimal
1,30111982,The Philippine one hundred-peso note (Filipino...,Manuel A. Roxas,Q223419,position held,P39,Philippine president,Q1209571
2,30111996,The Philippine five hundred-peso note (Filipin...,Philippine five hundred-peso note,Q7185306,face value,P3934,500,+500^^http://www.w3.org/2001/XMLSchema#decimal
3,30111996,The Philippine five hundred-peso note (Filipin...,Corazon Aquino,Q1480,position held,P39,President,Q1209571
4,30112002,The Philippine one thousand-peso note (Filipin...,Philippine one thousand-peso note,Q7185363,face value,P3934,1000,+1000^^http://www.w3.org/2001/XMLSchema#decimal
5,30112004,Havnar Róðrarfelag is a Faroese rowing club in...,Tórshavn,Q10704,country,P17,Faroese,Q4628
6,30111989,The Philippine two hundred-peso note (Filipino...,Philippine two hundred-peso note,Q7185399,face value,P3934,200,+200^^http://www.w3.org/2001/XMLSchema#decimal
7,30111989,The Philippine two hundred-peso note (Filipino...,Philippine president,Q1209571,has list,P2354,14th President of the Philippines,Q269860
8,30111989,The Philippine two hundred-peso note (Filipino...,Diosdado Macapagal,Q312539,position held,P39,Philippine president,Q1209571
9,30111989,The Philippine two hundred-peso note (Filipino...,President Gloria Macapagal-Arroyo,Q123665,position held,P39,Philippine president,Q1209571
10,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,country of origin,P495,Swedish,Q34
11,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,genre,P136,rock n roll,Q7749
12,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,location of formation,P740,Kallinge,Q1020929
13,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,inception,P571,2008,2008-01-01T00:00:00Z^^http://www.w3.org/2001/X...
14,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,genre,P136,rockabilly,Q203720
15,30112137,The Playtones is a Swedish 1950s rock n roll b...,The Playtones,Q7757472,work period (start),P2031,2008,2008-01-01T00:00:00Z^^http://www.w3.org/2001/X...
16,30112137,The Playtones is a Swedish 1950s rock n roll b...,rock n roll,Q7749,start time,P580,1950,1950-01-01T00:00:00Z^^http://www.w3.org/2001/X...
17,30112137,The Playtones is a Swedish 1950s rock n roll b...,Melodifestivalen,Q2272777,point in time,P585,2011,2011-01-01T00:00:00Z^^http://www.w3.org/2001/X...
18,30112182,Revenge of the Titans is a tower defense/real-...,Revenge of the Titans,Q7317942,genre,P136,tower defense,Q1137896
19,30112182,Revenge of the Titans is a tower defense/real-...,Revenge of the Titans,Q7317942,genre,P136,real-time strategy,Q208189
20,30112182,Revenge of the Titans is a tower defense/real-...,Revenge of the Titans,Q7317942,developer,P178,Puppy Games,Q16978430
21,30112182,Revenge of the Titans is a tower defense/real-...,Revenge of the Titans,Q7317942,distributed by,P750,Steam,Q337535
22,30112182,Revenge of the Titans is a tower defense/real-...,tower defense,Q1137896,subclass of,P279,real-time strategy,Q208189
23,30112209,"Mogilyane Peak (, ) is the rocky peak rising t...",Trinity Peninsula,Q2038835,part of,P361,Graham Land,Q618370
24,30112209,"Mogilyane Peak (, ) is the rocky peak rising t...",Trinity Peninsula,Q2038835,continent,P30,Antarctica,Q51
25,30112209,"Mogilyane Peak (, ) is the rocky peak rising t...",Graham Land,Q618370,continent,P30,Antarctica,Q51