In [1]:
import pandas as pd

from helper_tools.evaluation import generate_report

SambaNova
Meta-Llama-3.3-70B-Instruct

# 5 Trials - Train

In [2]:
generate_report("evaluation_logs/baseline/train-5-evaluation_log-OpenAI_o3-mini-converted.xlsx")

                        Precision    Recall  F1-Score
Triple                   0.446667  0.366667  0.387879
Triple with Parents      0.446667  0.366667  0.387879
Triple with Related      0.446667  0.366667  0.387879
Subject                  1.000000  1.000000  1.000000
Predicate                0.516667  0.420000  0.448485
Predicate with Parents   0.516667  0.420000  0.448485
Predicate with Related   0.516667  0.420000  0.448485
Object                   0.780000  0.766667  0.725541
Entity                   0.821429  0.811429  0.785897

In [3]:
generate_report("evaluation_logs/baseline/train-5-evaluation_log-SambaNova_Meta-Llama-3.3-70B-Instruct-converted.xlsx")

                        Precision  Recall  F1-Score
Triple                   0.513333    0.66  0.561962
Triple with Parents      0.553333    0.71  0.606407
Triple with Related      0.553333    0.71  0.606407
Subject                  0.766667    1.00  0.833333
Predicate                0.633333    0.72  0.652814
Predicate with Parents   0.633333    0.72  0.652814
Predicate with Related   0.700000    0.77  0.709957
Object                   0.816667    0.90  0.829437
Entity                   0.846984    0.92  0.865171

In [4]:
generate_report("evaluation_logs/baseline/train-5-evaluation_log-Ollama_llama3.3-converted.xlsx")

                        Precision  Recall  F1-Score
Triple                   0.448333    0.56  0.494603
Triple with Parents      0.515000    0.66  0.574603
Triple with Related      0.515000    0.66  0.574603
Subject                  0.700000    1.00  0.793333
Predicate                0.670000    0.72  0.687143
Predicate with Parents   0.776667    0.81  0.784286
Predicate with Related   0.776667    0.81  0.784286
Object                   0.783333    0.90  0.831429
Entity                   0.865556    0.92  0.884206

In [5]:
generate_report("evaluation_logs/baseline/train-5-evaluation_log-vLLM_kosbu-Llama-3.3-70B-Instruct-AWQ-2025-03-31-1412-converted.xlsx")

                        Precision    Recall  F1-Score
Triple                   0.480000  0.576667  0.497835
Triple with Parents      0.480000  0.576667  0.497835
Triple with Related      0.480000  0.576667  0.497835
Subject                  0.800000  1.000000  0.860000
Predicate                0.686667  0.680000  0.663550
Predicate with Parents   0.686667  0.680000  0.663550
Predicate with Related   0.686667  0.680000  0.663550
Object                   0.813333  0.866667  0.805628
Entity                   0.842857  0.891429  0.844933

# 50 Trials - Test

In [6]:
generate_report("evaluation_logs/baseline/test-50-evaluation_log-OpenAI_o3-mini-2025-03-28-1106-converted.xlsx")

                        Precision    Recall  F1-Score
Triple                   0.261524  0.214762  0.226502
Triple with Parents      0.349524  0.304762  0.309806
Triple with Related      0.349524  0.304762  0.309806
Subject                  0.648333  0.635000  0.616667
Predicate                0.295667  0.248286  0.253274
Predicate with Parents   0.387333  0.328952  0.332385
Predicate with Related   0.401333  0.343952  0.346829
Object                   0.633333  0.556175  0.571070
Entity                   0.670016  0.620024  0.630591

In [7]:
generate_report("evaluation_logs/baseline/test-50-evaluation_log-Ollama_llama3.3-2025-03-28-1244-converted.xlsx")

                        Precision    Recall  F1-Score
Triple                   0.298810  0.385540  0.320643
Triple with Parents      0.374524  0.492921  0.406804
Triple with Related      0.374524  0.492921  0.406804
Subject                  0.685000  0.828333  0.700095
Predicate                0.400048  0.415714  0.385335
Predicate with Parents   0.485238  0.508095  0.468572
Predicate with Related   0.513571  0.537095  0.496731
Object                   0.730333  0.784032  0.723355
Entity                   0.836071  0.840048  0.823404

In [8]:
generate_report("evaluation_logs/baseline/test-50-evaluation_log-vLLM_kosbu-Llama-3.3-70B-Instruct-AWQ-2025-03-31-1623-converted.xlsx")

                        Precision    Recall  F1-Score
Triple                   0.305762  0.337619  0.309248
Triple with Parents      0.366810  0.420952  0.378247
Triple with Related      0.380143  0.440952  0.394247
Subject                  0.695000  0.738333  0.682000
Predicate                0.378738  0.375810  0.363613
Predicate with Parents   0.445738  0.449667  0.431245
Predicate with Related   0.487405  0.497667  0.474801
Object                   0.672429  0.707683  0.670369
Entity                   0.755738  0.764690  0.751108

In [9]:
generate_report("evaluation_logs/baseline/test-50-evaluation_log-vLLM_kosbu-Llama-3.3-70B-Instruct-AWQ-2025-04-01-1222-converted.xlsx")

                        Precision    Recall  F1-Score
Triple                   0.316881  0.385905  0.337970
Triple with Parents      0.407214  0.486619  0.431654
Triple with Related      0.420548  0.506619  0.447654
Subject                  0.736667  0.805000  0.729714
Predicate                0.413333  0.439333  0.409344
Predicate with Parents   0.511667  0.540333  0.506360
Predicate with Related   0.561667  0.591667  0.555693
Object                   0.710167  0.746683  0.711372
Entity                   0.805690  0.814595  0.801768

In [11]:
generate_report("evaluation_logs/Gen1/test-50-evaluation_log-vLLM_kosbu-Llama-3.3-70B-Instruct-AWQ-2025-04-03-1722-converted.xlsx")

                        Precision    Recall  F1-Score
Triple                   0.221057  0.274016  0.234915
Triple with Parents      0.257557  0.308016  0.268010
Triple with Related      0.262557  0.318016  0.274677
Subject                  0.534190  0.781667  0.586667
Predicate                0.316738  0.323857  0.304125
Predicate with Parents   0.374905  0.368381  0.353202
Predicate with Related   0.407405  0.401905  0.384869
Object                   0.571738  0.642762  0.569939
Entity                   0.712238  0.738952  0.706864

In [10]:
generate_report("evaluation_logs/Gen1/test-50-evaluation_log-vLLM_ISTA-DASLab-gemma-3-27b-it-GPTQ-4b-128g-2025-04-03-1042-converted.xlsx")

                        Precision    Recall  F1-Score
Triple                   0.012889  0.023333  0.016381
Triple with Parents      0.012889  0.023333  0.016381
Triple with Related      0.022889  0.033333  0.026381
Subject                  0.150667  0.200000  0.166381
Predicate                0.060667  0.037333  0.041636
Predicate with Parents   0.074667  0.047333  0.053273
Predicate with Related   0.094667  0.057333  0.066606
Object                   0.164667  0.174000  0.163905
Entity                   0.202778  0.209286  0.202786