In [1]:
import pandas as pd

from helper_tools.evaluation import generate_report

# 5 Trials - Train

In [1]:
generate_report("evaluation_logs/baseline/evaluation_log-OpenAI_o3-mini.xlsx")

           Precision    Recall  F1-Score
Relation    0.446667  0.366667  0.387879
Subject     1.000000  1.000000  1.000000
Predicate   0.516667  0.420000  0.448485
Object      0.780000  0.766667  0.725541
Entity      0.821429  0.811429  0.785897

In [2]:
generate_report("evaluation_logs/baseline/evaluation_log-SambaNova_Meta-Llama-3.3-70B-Instruct.xlsx")

           Precision  Recall  F1-Score
Relation    0.513333    0.66  0.561962
Subject     0.766667    1.00  0.833333
Predicate   0.633333    0.72  0.652814
Object      0.816667    0.90  0.829437
Entity      0.846984    0.92  0.865171

In [3]:
generate_report("evaluation_logs/baseline/evaluation_log-Ollama_llama3.3.xlsx")

           Precision  Recall  F1-Score
Relation    0.448333    0.56  0.494603
Subject     0.700000    1.00  0.793333
Predicate   0.670000    0.72  0.687143
Object      0.783333    0.90  0.831429
Entity      0.865556    0.92  0.884206

In [2]:
generate_report("evaluation_logs/baseline/evaluation_log-vLLM_kosbu-Llama-3.3-70B-Instruct-AWQ-2025-03-31-1412.xlsx")

           Precision    Recall  F1-Score
Relation    0.480000  0.576667  0.497835
Subject     0.800000  1.000000  0.860000
Predicate   0.686667  0.680000  0.663550
Object      0.813333  0.866667  0.805628
Entity      0.842857  0.891429  0.844933

# 50 Trials - Test

In [3]:
generate_report("evaluation_logs/baseline/evaluation_log-OpenAI_o3-mini-2025-03-28-1106.xlsx")

           Precision    Recall  F1-Score
Relation    0.261524  0.214762  0.226502
Subject     0.648333  0.635000  0.616667
Predicate   0.295667  0.248286  0.253274
Object      0.633333  0.556175  0.571070
Entity      0.670016  0.620024  0.630591

In [4]:
generate_report("evaluation_logs/baseline/evaluation_log-Ollama_llama3.3-2025-03-28-1244.xlsx")

           Precision    Recall  F1-Score
Relation    0.298810  0.385540  0.320643
Subject     0.685000  0.828333  0.700095
Predicate   0.400048  0.415714  0.385335
Object      0.730333  0.784032  0.723355
Entity      0.836071  0.840048  0.823404

In [4]:
generate_report("evaluation_logs/baseline/test-50-evaluation_log-vLLM_kosbu-Llama-3.3-70B-Instruct-AWQ-2025-03-31-1623.xlsx")

           Precision    Recall  F1-Score
Relation    0.305762  0.337619  0.309248
Subject     0.695000  0.738333  0.682000
Predicate   0.378738  0.375810  0.363613
Object      0.672429  0.707683  0.670369
Entity      0.755738  0.764690  0.751108

In [5]:
generate_report("evaluation_logs/baseline/test-50-evaluation_log-vLLM_kosbu-Llama-3.3-70B-Instruct-AWQ-2025-04-01-1222.xlsx")

           Precision    Recall  F1-Score
Relation    0.316881  0.385905  0.337970
Subject     0.736667  0.805000  0.729714
Predicate   0.413333  0.439333  0.409344
Object      0.710167  0.746683  0.711372
Entity      0.805690  0.814595  0.801768