In [2]:
import pandas as pd

from helper_tools.evaluation import generate_report

# 5 Trials - Train

In [1]:
generate_report("evaluation_logs/baseline/train-5-evaluation_log-OpenAI_o3-mini.xlsx")

           Precision    Recall  F1-Score
Relation    0.446667  0.366667  0.387879
Subject     1.000000  1.000000  1.000000
Predicate   0.516667  0.420000  0.448485
Object      0.780000  0.766667  0.725541
Entity      0.821429  0.811429  0.785897

In [2]:
generate_report("evaluation_logs/baseline/train-5-evaluation_log-SambaNova_Meta-Llama-3.3-70B-Instruct.xlsx")

           Precision  Recall  F1-Score
Relation    0.513333    0.66  0.561962
Subject     0.766667    1.00  0.833333
Predicate   0.633333    0.72  0.652814
Object      0.816667    0.90  0.829437
Entity      0.846984    0.92  0.865171

In [3]:
generate_report("evaluation_logs/baseline/train-5-evaluation_log-Ollama_llama3.3.xlsx")

           Precision  Recall  F1-Score
Relation    0.448333    0.56  0.494603
Subject     0.700000    1.00  0.793333
Predicate   0.670000    0.72  0.687143
Object      0.783333    0.90  0.831429
Entity      0.865556    0.92  0.884206

In [4]:
generate_report("evaluation_logs/Gen1/train-5-evaluation_log-SambaNova_Meta-Llama-3.3-70B-Instruct-2025-03-31-1127.xlsx")

           Precision    Recall  F1-Score
Relation    0.383810  0.526667  0.415556
Subject     0.633333  1.000000  0.760000
Predicate   0.550000  0.630000  0.571111
Object      0.773810  0.866667  0.776984
Entity      0.857143  0.891429  0.846984

# 50 Trials - Test

In [3]:
generate_report("evaluation_logs/baseline/test-50-evaluation_log-OpenAI_o3-mini-2025-03-28-1106.xlsx")

           Precision    Recall  F1-Score
Relation    0.261524  0.214762  0.226502
Subject     0.648333  0.635000  0.616667
Predicate   0.295667  0.248286  0.253274
Object      0.633333  0.556175  0.571070
Entity      0.670016  0.620024  0.630591

In [4]:
generate_report("evaluation_logs/baseline/test-50-evaluation_log-Ollama_llama3.3-2025-03-28-1244.xlsx")

           Precision    Recall  F1-Score
Relation    0.298810  0.385540  0.320643
Subject     0.685000  0.828333  0.700095
Predicate   0.400048  0.415714  0.385335
Object      0.730333  0.784032  0.723355
Entity      0.836071  0.840048  0.823404